<div class=" cardflex flex-col flex-wrap">
  <div class="card-body rounded-box bg-gray-800 shadow-lg">
  <div class="flex flex-row flex-wrap justify-center items-start mx-5">
    <div class="flex flex-col basis-full md:basis-1/2 justify-start md:justify-center text-center md:text-start">
      <h1 class="text-3xl">{{member.knownAs}}</h1>
      <div class="flex flex-wrap justify-center md:justify-start items-start gap-2 sm:gap-5 pt-2">
        <h1><i class="fa-solid fa-at"></i>{{member.username}}</h1>
        <h1><i class="fa-regular fa-clock"></i> Last active: {{member.lastActive | timeago}}</h1>
      </div>
      <div class="flex flex-row flex-wrap justify-center self-center md:self-start pt-8">
        <div class="flex basis-full md:basis-1/2 justify-center md:justify-start indicator">
          <span *ngIf="(presenceService.onlineUsers$ | async)?.includes(member.username)" class="indicator-item indicator-start badge badge-success">Online</span>
          <span *ngIf="!(presenceService.onlineUsers$ | async)?.includes(member.username)" class="indicator-item indicator-start badge badge-error">Offline</span>
          <img class="w-64 border-2 border-primary rounded-lg" src="{{member.photoUrl || './assets/user.png'}}"/>
        </div>
        <div class="flex basis-full md:basis-1/2 justify-center md:justify-start pt-4 md:pt-0 pl-0 md:pl-4">
          <a class="btn mx-1 hover:bg-primary text-white hover:border-none border-none"><i class="fa fa-heart text-md"></i></a>
          <a (click)="showTab('tab4')" [routerLink]="['/members/' + member.username]" fragment="chat" class="btn mx-1 hover:bg-primary text-white hover:border-none border-none"><i class="fa fa-envelope text-md"></i></a>
        </div>
      </div>
    </div>
    <div class="flex flex-col basis-full md:basis-1/2 justify-start md:justify-end text-center md:text-start">
      <h1 class="text-3xl pt-8 pb-4 md:pb-14 md:pt-0">About me</h1>
      <div class="flex flex-row flex-wrap md:gap-4 px-8 md:px-0 pb-2">
        <div class="flex basis-1/2 md:basis-1/4 justify-end bg-base-100 items-center rounded-md border-2 border-base-100 border-r-4 md:border-0">
          <h1 class="pr-2">Name</h1>
        </div>
        <div class="flex basis-1/2 justify-start bg-base-100 items-center rounded-md border-2 border-base-100 border-r-4 md:border-0">
          <h1 class="pl-2">{{member.knownAs}}</h1>
        </div>
      </div>
      <div class="flex flex-row flex-wrap md:gap-4 px-8 md:px-0 pb-2">
        <div class="flex basis-1/2 md:basis-1/4 justify-end bg-base-100 items-center rounded-md border-2 border-base-100 border-r-4 md:border-0">
          <h1 class="pr-2">I am a</h1>
        </div>
        <div class="flex basis-1/2 justify-start bg-base-100 items-center rounded-md border-2 border-base-100 border-r-4 md:border-0">
          <h1 class="pl-2">{{member.gender}}</h1>
        </div>
      </div>
      <div class="flex flex-row flex-wrap md:gap-4 px-8 md:px-0 pb-2">
        <div class="flex basis-1/2 md:basis-1/4 justify-end bg-base-100 items-center rounded-md border-2 border-base-100 border-r-4 md:border-0">
          <h1 class="pr-2">Age</h1>
        </div>
        <div class="flex basis-1/2 justify-start bg-base-100 items-center rounded-md border-2 border-base-100 border-r-4 md:border-0">
          <h1 class="pl-2">{{member.age}}</h1>
        </div>
      </div>
      <div class="flex flex-row flex-wrap md:gap-4 px-8 md:px-0 pb-2">
        <div class="flex basis-1/2 md:basis-1/4 justify-end bg-base-100 items-center rounded-md border-2 border-base-100 border-r-4 md:border-0">
          <h1 class="pr-2">City</h1>
        </div>
        <div class="flex basis-1/2 justify-start bg-base-100 items-center rounded-md border-2 border-base-100 border-r-4 md:border-0">
          <h1 class="pl-2">{{member.city}}</h1>
        </div>
      </div>
      <div class="flex flex-row flex-wrap md:gap-4 px-8 md:px-0 pb-2">
        <div class="flex basis-1/2 md:basis-1/4 justify-end bg-base-100 items-center rounded-md border-2 border-base-100 border-r-4 md:border-0">
          <h1 class="pr-2">Country</h1>
        </div>
        <div class="flex basis-1/2 justify-start bg-base-100 items-center rounded-md border-2 border-base-100 border-r-4 md:border-0">
          <h1 class="pl-2">{{member.country}}</h1>
        </div>
      </div>
      <div class="flex flex-row flex-wrap md:gap-4 px-8 md:px-0 pb-2">
        <div class="flex basis-1/2 md:basis-1/4 justify-end bg-base-100 items-center rounded-md border-2 border-base-100 border-r-4 md:border-0">
          <h1 class="pr-2">Member since</h1>
        </div>
        <div class="flex basis-1/2 justify-start bg-base-100 items-center rounded-md border-2 border-base-100 border-r-4 md:border-0">
          <h1 class="pl-2">{{member.created | date: 'dd MMM yyyy'}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-row flex-wrap justify-center items-start gap-5 mx-5">
    <div class="tabs tabs-boxed basis-full">
      <a class="tab" (click)="showTab('tab1')" [ngClass]="{'tab-active': tab1}">Introduction</a>
      <a class="tab" (click)="showTab('tab2')" [ngClass]="{'tab-active': tab2}">Interests</a>
      <a class="tab" (click)="showTab('tab3')" [ngClass]="{'tab-active': tab3}">Looking for</a>
      <a class="tab" (click)="showTab('tab4')" [ngClass]="{'tab-active': tab4}">Messages</a>
    </div>
    <div class="flex-col basis-full mx-4 mb-8" [ngClass]="{'flex': tab1, 'hidden': !tab1}">
      <h1 class="break-words whitespace-normal error">{{member.introduction}}</h1>
    </div>
    <div class="flex-col basis-full mx-4 mb-8" [ngClass]="{'flex': tab2, 'hidden': !tab2}">
      <h1 class="break-words whitespace-normal error">{{member.interests}}</h1>
    </div>
    <div class="flex-col basis-full mx-4 mb-8" [ngClass]="{'flex': tab3, 'hidden': !tab3}">
      <h1 class="break-words whitespace-normal error">{{member.lookingFor}}</h1>
    </div>
    <div id="chat" class="flex-col basis-full mx-4 mb-8" [ngClass]="{'flex': tab4, 'hidden': !tab4}">
      <app-member-messages class="overflow-y-auto h-96" *ngIf="tab4 && messages.length > 0" [username]="member.username" [messages]="messages"></app-member-messages>
      <div class="flex flex-col flex-wrap w-full overflow-auto h-1/4 my-4">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off" class="form-control basis-full">
          <div class="input-group w-full">
            <input onkeydown="if (event.keyCode == 13) sendMessage()" type="text" placeholder="Message..." name="messageContent" class="input input-bordered w-full" required [(ngModel)]="messageContent"/>
            <button [disabled]="!messageForm.valid" class="btn btn-square" type="submit">
              <i class="fa-regular fa-paper-plane"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="flex justify-center basis-full">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery inline-block mb-20"></ngx-gallery>
    </div>
  </div>
</div>