<div class="flex flex-row flex-wrap justify-center md:justify-start items-center mb-8">
    <select class="select select-primary w-full max-w-xs" (change)="loadMessages()" [(ngModel)]="container">
      <option value="Unread">Unread</option>
      <option value="Inbox">Inbox</option>
      <option value="Outbox">Outbox</option>
    </select>
  </div>
  
  <div class="flex flex-row flex-wrap justify-center items-center mb-8" *ngIf="messages?.length === 0">
    <h1 class="text-white text-4xl">No messages</h1>
  </div>
  
  <div class="flex flex-row flex-wrap justify-center items-center mb-8" *ngIf="messages?.length">
    <div class="overflow-x-auto w-full">
      <table class="table table-zebra w-full">
        <!-- head -->
        <thead>
          <tr>
            <th>Message</th>
            <th>From / To</th>
            <th>Sent / Received</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          <tr [hidden]="loading" *ngFor="let message of messages" class="hover:cursor-pointer" routerLink="{{container === 'Outbox' ? '/members/' + message.recipientUsername : '/members/' + message.senderUsername}}" [queryParams]="{tab: 4}">
            <td>{{message.content}}</td>
            <td>
              <div class="flex items-center space-x-3" *ngIf="container === 'Outbox'">
                <div class="avatar">
                  <div class="mask mask-squircle w-12 h-12">
                    <img src="{{message.recipientPhotoUrl || './assets/user.png'}}" title="{{message.recipientUsername}}" alt="{{message.recipientUsername}}" />
                  </div>
                </div>
                <div>
                  <div class="font-bold">{{message.recipientUsername | titlecase}}</div>
                </div>
              </div>
              <div class="flex items-center space-x-3" *ngIf="container !== 'Outbox'">
                <div class="avatar">
                  <div class="mask mask-squircle w-12 h-12">
                    <img src="{{message.senderPhotoUrl || './assets/user.png'}}" title="{{message.senderUsername}}" alt="{{message.senderUsername}}" />
                  </div>
                </div>
                <div>
                  <div class="font-bold">{{message.senderUsername | titlecase}}</div>
                </div>
              </div>
            </td>
            <td>{{message.messageSend| timeago}}</td>
            <th>
              <button (click)="$event.stopPropagation()" (click)="deleteMessage(message.id)" class="btn btn-error btn-outline btn-md">Delete</button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="flex flex-row flex-wrap justify-center items-start mt-12" *ngIf="pagination && !loading">
    <div class="btn-group">
      <button class="btn" (click)="prevPage()"
        [disabled]="pageNumber < pagination.totalPages - 1 || (pageNumber) - 1 === 0">«</button>
      <button class="btn">Page {{pageNumber}}</button>
      <button class="btn" (click)="nextPage()" [disabled]="pageNumber >= pagination.totalPages">»</button>
    </div>
  </div>