<div class="flex flex-col flex-wrap justify-start">
    <div class="overflow-x-auto">
      <table class="table table-zebra w-full">
        <!-- head -->
        <thead>
          <tr>
            <th>Username</th>
            <th>Active Roles</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user?.username | titlecase}}</td>
            <td>{{user?.roles}}</td>
            <td><label class="btn btn-primary btn-outline" [for]="'modal-' + user?.username">Edit Roles</label></td>
            <app-roles-modal [modalFor]="'modal-' + user?.username" [user]="user" [title]="'Edit role for: ' + user?.username | titlecase"></app-roles-modal>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  