<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col ">
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <div class="card-body">
                <div class="text-center">
                    <h1 class="text-5xl font-bold">Sign up</h1>
                </div>
                <form class="flex justify-center flex-col space-y-4" #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">

                    <div class="form-group">
                        <label class="label">
                            <span class="label-text">Name</span>
                        </label>
                        <input type="text" 
                        class="input input-bordered"
                        name="username" 
                        [(ngModel)]="model.username"
                        placeholder="Username">
                    </div>
                    
                    <div class="form-group">
                        <label class="label">
                            <span class="label-text">Password</span>
                        </label>
                        <input type="password" 
                        class="input input-bordered" 
                        name="password" 
                        [(ngModel)]="model.password"
                        placeholder="Password">
                    </div>
                    
                    <div class="text-center space-x-2">
                    <button class="btn btn-success me-2" type="submit">Register</button>
                    <button class="btn btn-default " type="button" (click)="cancel()">Cancel</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>











<!-- 
<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr>
    <div class="mb-3">
        <input type="text"
        class="form-control"
        name="username"
        [(ngModel)]="model.username"
        placeholder="Username"
        >
    </div>
    <div class="mb-3">
        <input type="password"
        class="form-control"
        name="password"
        [(ngModel)]="model.password"
        placeholder="Password"
        >
    </div>
    <div class="mb-3">
        <label>Who is your favorite user?</label>
        <select class="form-select">
            <option *ngFor="let user of usersFromHomeComponent" [value]="user.userName">
                {{user.userName}}
            </option>
        </select>
    </div>
    <div class="text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default " type="button" (click)="cancel()">Cancel</button>
    </div>
</form> -->