<div class="hero min-h-screen  bg-gray-800 shadow-lg">
    <div class="hero-content flex-col ">
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <div class="card-body">
                <div class="text-center">
                    <h1 class="text-5xl font-bold">Sign up</h1>
                </div>
                <form class="flex justify-center flex-col space-y-4" #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">

                    <div class="form-group">
                        <label class="label">
                            <span class="label-text">Name</span>
                        </label>
                        <input type="text" 
                        class="input input-bordered"
                        name="username" 
                        [(ngModel)]="model.username"
                        placeholder="Username">
                    </div>
                    
                    <div class="form-group">
                        <label class="label">
                            <span class="label-text">Password</span>
                        </label>
                        <input type="password" 
                        class="input input-bordered" 
                        name="password" 
                        [(ngModel)]="model.password"
                        placeholder="Password">
                    </div>
                    
                    <div class="text-center space-x-2">
                    <button class="btn btn-success me-2" type="submit">Register</button>
                    <button class="btn btn-default " type="button" (click)="cancel()">Cancel</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
