 <div class="navbar bg-base-100 mx-auto drop-shadow-lg">
    <div class="flex-1">
      <a routerLink="/" class="flex items-center">
        <img src="https://i.pinimg.com/originals/ec/16/40/ec1640c224a723afb4c210d282e4d603.png" class="mr-3 h-6 sm:h-9"
          alt="Logo">
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Dating app</span>
      </a>
    </div>
    <div class="flex-none gap-2">
        <!-- Only visible if you are NOT logged in -->
        <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="flex" (ngSubmit)="login()" autocomplete="off">
            <input
                name="username" 
                [(ngModel)]="model.username"
                class="input input-bordered  w-full max-w-xs" 
                type="text" 
                placeholder="Username">
            <input 
                name="password" 
                [(ngModel)]="model.password"
                class="input input-bordered  w-full max-w-xs" 
                type="password" 
                placeholder="Password">
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
         <!-- Only visible if you are logged in -->
      <div class="sm:flex hidden" *ngIf="(accountService.currentUser$ | async) as user">
        <h1>Welcome {{user.username | titlecase}}</h1>
      </div>
      <div class="dropdown dropdown-end" *ngIf="accountService.currentUser$ | async">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-12 rounded-full">
            <img src="https://avatars.githubusercontent.com/u/113441481?s=400&u=b3922e0644fc97afdea0f44a2f6ee24a3967cb4e&v=4" />
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li><a routerLink="/members" routerLinkActive="active">Matches</a></li>
          <li><a routerLink="/lists" routerLinkActive="active">Lists</a></li>
          <li class="pb-2"><a routerLink="/messages" routerLinkActive="active">Messages</a></li>
          <li><a routerLink="/member/edit" routerLinkActive="active">Edit Profile</a></li>
          <li><a routerLink="/errors" routerLinkActive="active">Errors</a></li>
          <li (click)="logout()" class="border-t-2 border-slate-600"><a>Logout</a></li>
        </ul>
      </div>
    </div>
  </div>