<!-- <p *ngFor="let message of messages">{{message?.content}}</p> -->
<div class="flex flex-col flex-wrap w-full border-2 rounded-md border-slate-600">
    <div class="flex flex-col flex-wrap basis-full py-3" *ngFor="let message of (messageService.messageThread$ | async)">
      <div class="flex flex-row flex-wrap items-center text-sm" [ngClass]="{'justify-start ml-3' : message.senderUsername == username, 'justify-end mr-3' : message.senderUsername != username}">
        <div class="avatar mr-2" title="{{message.senderUsername}}">
          <div class="w-10 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
            <img src="{{message.senderPhotoUrl}}" />
          </div>
        </div>
        {{message.messageSend | timeago}}
        <div class="flex ml-1" *ngIf="!message.dateRead && message.senderUsername !== username">
          (unread)
        </div>
        <div class="flex ml-1" *ngIf="message.dateRead && message.senderUsername !== username">
          (read {{message.dateRead | timeago}})
        </div>
      </div>
      <div class="flex basis-full text-lg" [ngClass]="{'justify-start ml-3' : message.senderUsername == username, 'justify-end mr-3' : message.senderUsername != username}">
        <div class="flex rounded-md" [ngClass]="{'bg-slate-700' : message.senderUsername == username, 'bg-slate-600' : message.senderUsername != username}">
          <h1 class="p-2">{{message.content}}</h1>
        </div>
      </div>
    </div>
  </div>