<div
  class="flex flex-row flex-wrap basis-1/5 py-4 px-4 md:px-2 mx-6 md:mx-4 my-4 justify-center bg-slate-800 border-2 border-primary rounded-lg"
  *ngFor="let photo of member?.photos">
  <div class="flex flex-col flex-wrap basis-1/5">
    <div class="flex w-44 md:w-64">
      <img src="{{photo.url}}" alt="{{photo.url}}" />
    </div>
    <div class="flex flex-row flex-wrap justify-center mt-4 gap-2">
      <button [disabled]="photo.isMain" (click)="setMainPhoto(photo)" [ngClass]='photo.isMain ? "btn btn-primary" : "btn btn-outline btn-primary"'>Main</button>
      <button  class="btn btn-outline btn-primary"><i class="fa fa-trash"></i></button>
    </div>
  </div>
</div>

<div
  class="flex flex-row flex-wrap justify-items-stretch basis-full justify-center md:justify-start items-start my-12 bg-slate-800 border-2 border-primary rounded-lg">
  <div class="justify-self-start flex flex-col flex-wrap m-4 gap-3">
    <h1 class="text-3xl error">Add photos</h1>

    <div ng2FileDrop [ngClass]="{'border-2': hasbaseDropZoneOver, 'border-primary': hasbaseDropZoneOver, 'border-transparent': !hasbaseDropZoneOver}" (fileOver)="fileOverBase($event)"
      [uploader]="uploader" class="bg-slate-700 p-4 rounded-md text-center border-2 transition ease-in-out duration-200">
      <i class="fa fa-upload fa-2x"></i>
      <h1 class="text-2xl error">Drop photos here</h1>
    </div>

    <div class="flex flex-col flex-wrap error text-xl">
      Multiple
      <input type="file" ng2FileSelect [uploader]="uploader" class="text-transparent" multiple />
    </div>

    <div class="flex flex-col flex-wrap error text-xl">
      Single
      <input type="file" ng2FileSelect [uploader]="uploader" class="text-transparent" />
    </div>

  </div>

  <div class="justify-self-start flex flex-col flex-wrap m-4 gap-3" >
    <h1 class="text-3xl error">Upload queue</h1>
    <h1 class="text-xl error">Queue length: {{ uploader?.queue?.length }}</h1>

    <div class="overflow-x-auto">
      <table class="table table-zebra table-compact w-full">
        <thead>
          <tr>
            <th>Name</th>
            <th>Size</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
          </tr> -->
        </tbody>
      </table>
    </div>

    <div>
      <div>
        <h1 class="text-xl error">Queue progress:</h1>
        <!-- <progress class="progress progress-primary" value="{{uploader.progress}}" max="100" role="progressbar"></progress> -->
      </div>
      <button type="button" class="btn btn-success mr-2" >
        <span class="fa fa-upload mr-2"></span> Upload all
      </button>
      <button type="button" class="btn btn-warning mr-2" >
        <span class="fa fa-ban mr-2"></span> Cancel all
      </button>
      <button type="button" class="btn btn-error mr-2" >
        <span class="fa fa-trash mr-2"></span> Remove all
      </button>
    </div>
  </div>
</div>